<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656609152692-ta6cgpditb4mh61f2hkbd1i52uc94imr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656609152692-ta6cgpditb4mh61f2hkbd1i52uc94imr</string>
	<key>API_KEY</key>
	<string>AIzaSyC5LYMoOg9IsBDjrpf394QsPCRdbQCQbJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>656609152692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jonathancarlson.REMOVEME</string>
	<key>PROJECT_ID</key>
	<string>lahacks-2023-d3c35</string>
	<key>STORAGE_BUCKET</key>
	<string>lahacks-2023-d3c35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656609152692:ios:cd8ba544fca5c0adb5d1e1</string>
</dict>
</plist>